PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE kings (
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    reign INTEGER,
    city_id INTEGER,
    dynasty TEXT NOT NULL,
    pre_flood INTEGER DEFAULT 0
, sequence_number INTEGER, epithet TEXT, historicity INTEGER DEFAULT 5, comments TEXT);
INSERT INTO kings VALUES(1,'Alulim',28800,1,'Dynasty of Eridu',1,1,NULL,1,unistr('Appointed by the gods An, Enlil, and Enki.\u000a\u000aCreator of insects.'));
INSERT INTO kings VALUES(2,'Alalngar',36000,1,'Dynasty of Eridu',1,2,NULL,1,NULL);
INSERT INTO kings VALUES(3,'En-men-lu-ana',43200,2,'Dynasty of Bad-tibara',1,3,NULL,1,NULL);
CREATE TABLE cities (
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    modern_location TEXT,
    archaeologically_attested INTEGER DEFAULT 0,
    comments TEXT
);
INSERT INTO cities VALUES(1,'Eridu','Dhi Qar Governorate, near the modern Basra',1,'First city, origin of kingship');
INSERT INTO cities VALUES(2,'Bad-tibara','Dhi Qar Governorate, near ancient Larsa',1,NULL);
INSERT INTO cities VALUES(3,'Larak','Dhi Qar Governorate, near ancient Isin',0,unistr('Only of the five antediluvean kingship cities for which no arcaeologial\u000aevidence has been discovered.\u000a\u000aIts patron deity was Pabilsag, a warrior deity about whom not muc is\u000aknown. He was associated with judgment and possibly healing and medicine.\u000aHe was known to be the husband of the goddess Ninisina, tutelary deity of\u000athe city of Isin. She was considered a healing deity.'));
COMMIT;
